USE [master]
GO
/****** Object:  Database [member]    Script Date: 2025/3/14 下午 03:40:06 ******/
CREATE DATABASE [member]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ｍｅｍｂｅｒ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ｍｅｍｂｅｒ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ｍｅｍｂｅｒ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ｍｅｍｂｅｒ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [member].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [member]
GO
/****** Object:  Table [dbo].[user_vip]    Script Date: 2025/3/14 下午 03:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vip](
	[end_date] [date] NULL,
	[is_vip] [bit] NOT NULL,
	[member_id] [int] NULL,
	[start_date] [date] NOT NULL,
	[vip_id] [int] IDENTITY(1,1) NOT NULL,
	[vip_level] [int] NULL,
	[vip_photo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[vip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_vip_history]    Script Date: 2025/3/14 下午 03:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vip_history](
	[end_date] [date] NOT NULL,
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[start_date] [date] NOT NULL,
	[vip_level] [int] NULL,
	[vip_photo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2025/3/14 下午 03:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[username] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UKqsb1sfnipp59y2ikryarjiho8]    Script Date: 2025/3/14 下午 03:40:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKqsb1sfnipp59y2ikryarjiho8] ON [dbo].[user_vip]
(
	[member_id] ASC
)
WHERE ([member_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 2025/3/14 下午 03:40:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK6dotkott2kjsp8vw4d0m25fb7] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user_vip]  WITH CHECK ADD  CONSTRAINT [FKb2gah4gdn7idf8wv6wulggmk1] FOREIGN KEY([member_id])
REFERENCES [dbo].[users] ([member_id])
GO
ALTER TABLE [dbo].[user_vip] CHECK CONSTRAINT [FKb2gah4gdn7idf8wv6wulggmk1]
GO
ALTER TABLE [dbo].[user_vip_history]  WITH CHECK ADD  CONSTRAINT [FKnxy5iaiie3w19g8prlkgbhxwf] FOREIGN KEY([member_id])
REFERENCES [dbo].[users] ([member_id])
GO
ALTER TABLE [dbo].[user_vip_history] CHECK CONSTRAINT [FKnxy5iaiie3w19g8prlkgbhxwf]
GO
USE [master]
GO
